{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <section class="section">
                <!-- <div class="container"> -->
                    <div class="columns is-mobile is-centered">
                        <div class="column is-half">
                    
                          {% for post in posts %}
                    <div class="card">
                      
                        <div class="card-image">
                          <figure class="image is-4by3">
                            {% if post.image %}
                            <img src="{{post.image.url}}" alt="Placeholder image" style="width: 100%;"><br>
                            {% endif %}
                          </figure>
                          <div class="content" id="content">
                            <form action="{% url 'like-post' %}" method="POST" >
                              {% csrf_token %}
                              <input type="hidden" name="post_id" value="{{post.id}}">
                              {% if user not in post.liked.all %}
                              <button class="button btn btn-success" >like</button>
                              {% else %}
                              <button class="button btn btn-secondary" >unlike</button>
                              {%endif%}
                            </form>
                            <small style="color: rgb(16, 95, 95); font-style: italic;">{{post.liked.all.count}}</small>
                            <span><a href=""><i class="fal fa-comment-lines"></i></a></span> <span><a href=""><i class="far fa-heart"></i></span></a></span>
                          </div>
                          
            
                          <div class="media-content" id="div">
                          <p class="title is-4" style="color: rgb(16, 95, 69);"><b>Author</b>: {{ post.author }}</p>
                          <p class="subtitle is-6"style="color: rgb(16, 95, 69);" ><b>Caption</b>: {{ post.caption }}</p>
            
            
                          <h2>Cmments Section......  </h2>
                          {% if not post.comments.all %}
                            <p>No Comments Yet... </p>
            
                            {% else %}
            
                            {% for comment in post.comments.all %}
            
                            <h2>{{comment.name}}</h2>
                            <p>{{comment.comment}}</p>
                        
                            {%endfor%}
            
                            {%endif%}
            
                            <a href="{% url 'comments_list' post.id%}"><button class="button btn btn-success is-success"  style="text-transform: capitalize; font-style: italic;">add comment</button></a>
                            
                            
                            
                            
                            </div>
                           
                            
                          
                          
                          
                        </div>
                        
                      </div><br><br>
                     
                      {% endfor %}
                        </div>
                        
            
                        </div>
                        
                <!-- </div> -->
                
            
            </section>
            
            
            
              
            
              </body>
            </html>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<style>
    body{
        background-color: lavender;
        font-family: 'Times New Roman', Times, serif;
    }
    #content{
        padding: 10px;
        
    }
    .row{
        margin-top: 30px;
    }
    #div{
        padding: 10px;
    }
    span{
        padding: 8px;
        margin: 8px;
    }
    .fal, .far{
        font-size: 18px;
        margin: 10px;
    }
    /* #content{
        /* padding-left: 20px; */
    /* }  */
</style>
{%endblock%}