{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
        {% if categories %}

      {% for post in categories %}
        <div class="">
          <h1 class="text-center">Search Results...</h1>
          <hr>
            <div class="row m-1 mb-3">

                <div class="card  ">
                    <img  class="image-thumbnail img-fluid mt-3" src="{{post.image.url}}" alt="Card image cap">
                    <h5 class="centered"><b>Author:</b>{{post.author}}</h5>
                    <div class="card-body">
                        <p class="card-text"><b>Caption: </b> {{post.caption}}</p>
                    </div>
                  </div>
            </div>
        </div>
        {% endfor %}
        {%endif%}
      
      </div>
      <div class="col-sm3"></div>
    </div>
    </div>
  <style>
    body{
      background-color: lavender;
      font-family: 'Times New Roman', Times, serif;
    }
    .card{
      padding: 10px;
    }
  </style>

{%endblock%}