{% extend 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="cols-sm-3"></div>
        <div class="cols-sm-6">
            <form  action="{%url 'comment' id%}" method="post">
                {%csrf_token%}
            
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-primary" value="Change">
                <button type="submit"  class="btn btn-outline-danger">Submit</button>
              </form>
        </div>
        <div class="cols-sm-3"></div>
    </div>
</div>
{% endblock%}